{%extends 'base.html'%}

{%block content%}
{%for item in model%}
<div class="container">
<h2>Your tasks in category - {{item}}</h2>
<table class="table">
	<tr>
		<td>Name</td>
		<td>Time Usage</td>
		<td>Scheduled</td>
		<td>Date</td>
		<td>Change</td>
		<td>Delete</td>
		<td>Expand</td>
	</tr>
			{%for it in item.tasks.all%}
				{%if it.is_available%}
					<tr class="{%if it.time_trigger%} scheduled_action {%endif%}">
						<td>{{it.name}}</td>
						<td>{%if it.time_trigger%}
								Scheduled
							{%else%}
								{{it.spent_hours}}:
								{%if it.spent_minutes != 0%}
									{{it.spent_minutes}}
								{%else%}
									0
								{%endif%}
							{%endif%}
						</td>
						<td>{%if it.scheduled_hours or it.scheduled_minutes%}
							{{it.scheduled_hours}}:
								{%if it.scheduled_minutes != 0%}
									{{it.scheduled_minutes}}
								{%else%}
									0
								{%endif%}
							{%endif%}
						</td>
						<td>{{it.data}}</td>
						<td>
							<button type="button" class="btn btn-primary change_button" id = "change_button" data-toggle="modal" data-target="#changeAction-{{it.id}}" name="form-{{it.id}}">
								Change
							</button>
							{%include 'main/includes/сhange_form.html' with action=it%}
						</td>
						<td><a href="{{it.get_hidden_url}}">Delete</a></td>
						<td>
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#expandModal-{{it.id}}">
		 					 					Show more
							</button>
							{%include 'main/includes/expand_action.html' with actions=item.tasks.all %}
						</td>
					</tr>	
				{%endif%}
			{%endfor%}		
		
</table>
</div>
<!--{%for it in item.tasks.all%}
	<div class="modal fade" id="extendModal-{{it.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">{{it.name}}</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        {{it.description}}
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div>
	  </div>
	</div>
{%endfor%}-->
{%endfor%}
{%endblock%}


