{%load staticfiles%}
<div class="modal" id="error_modal" tabindex="-1" role="dialog" style="z-index:9999">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error</h5>
      </div>
      <div class="modal-body">
        <p>Something is wrong</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="error_close_button">Close</button>
      </div>
    </div>
  </div>
</div>